/* RESET CSS  */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
     font-family: "inter", sans-serif;
    padding-left: 2rem;
}

main {
    max-width: 1440px;
}
/* HEADER SECTION  */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}

.ham-div {
    display: none;
    font-size: 2rem;;
}

nav > a {
    padding: 0 1rem;
    color: rgb(51, 51, 51);
}

nav > a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}

nav > a:active {
    color: rgb(1, 125, 61);;;
}

.clients-btn {
    padding:10px 15px;
    border: 1px solid rgb(1, 125, 61);
    background-color: white;
    font-size: 1rem;
    color:  rgb(51, 51, 51);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.clients-btn:hover {
    background-color:  rgb(1, 125, 61);;
    color: white;
}

.clients-btn:active {
    opacity: 0.7;
}

.hero-div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 5rem;
}

.hero-div > div > p {
    color: black;
    font-size: 4rem;
    font-weight: 700;
    width:  655.55px;
    padding-left: 2rem;
}

.fast {
    line-height: 24px;
    width:  420px;
}

.hero-div2 {
    width: 437.038px;
}
/* SOLID PROPERTIES  */

.sold-properties {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    /* margin-top: 2rem; */
    text-align: start;
}

.sold-properties > div > h1 {
    margin: 1rem 0;
    text-align: start;
    color: green;
    font-size: 2rem;
}

/* INVESTMENT SECTION  */

.investment-section {
    margin-top: 5rem;
    /* width: 1437.6px;
    height:  618.875px; */
    /* border: 1px solid red; */
    /* padding-left: 10vw; */  
    width:  1437.6px;
}

.land {
    padding-top: 10vh;
    margin-left: 10vw;
}

.realtor-div {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: -145px;
    margin-left: 12vw;
 
}

.realtor-div > p {
    width: 430.138px;
    line-height: 28.8px;
    font-size: 1.5rem;
    font-weight: bold;
}

.female-img {
    height: 280.2px;
    width: 537.662px;
}

/* VISION-SECTION  */

.vision-section {
    background-color: rgb(250, 250, 250);
    height: 688.1px;
    width:  1437.6px;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.vision-section > div {
    padding-left: 5vw;
}

.vision-section > div > h2 {
    font-size: 32px;
}
.vision-section > div > p {
    width:  442.5px;
    margin: 1.5rem 0;
    line-height: 24px;
    color: rgb(119, 119, 119);
}

.vision-section > .div1 > h2 {
    font-size: 32px;
    margin: 1.5rem 0;
}

/* REASON WHY YOU SHOULD BUY FROM HENEZ */

.reason-section {
    margin-top: 5rem;
    
}

.reason-section > h1 {
    width:646.3px;
    line-height: 40px;
    margin-bottom: 4rem;
    font-size: 28px;
    padding-left: 8vw;
}


/* PROPERTY-SELECTION  */

.invest-div {
    /* border: 1px solid red; */
    width:  1437.6px;
}

.choose {
    display: flex;
    align-items: center;
    width:  446.663px;
}

.choose-div {
    display: flex;
    align-items: flex-start;

    margin-bottom: 10px;
}

.choose-div  > h4 {
    font-size: 22px;
    font-weight: bold;
    width:  281.388px;
}

.property-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.property-div2 {
    display: flex;
    justify-content: space-evenly;
   
    margin-top: 4rem;
    /* padding-left:2.52rem; */
}

span {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}


/* FOOTER SECTION  */

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
    /* align-items: center; */
}

.foot-div1 , .foot-div2 , .foot-div3 {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 3rem; */
}

.foot-div1  > a,.foot-div2 > h3 , .foot-div3   > h3 {
    margin-bottom: 2rem;
}

.foot-div1  > a {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.foot-div1 > p {
    width:  283.9px;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(33, 37, 41);
}

.foot-div2 > a ,  .foot-div3 > p{
    margin-bottom: 15px;
    color: rgb(51, 51, 51);
}

.foot-div3 > p > i {
    padding-right: 1rem;
}

.side-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    background-color: white;
}

.side-bar > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    position: relative;
    top: 50%;
}

.side-bar > div > a {
    padding: 10px 0;
    font-size: 1.2rem;
    color: grey;
}

.copyright {
    text-align: center;
    padding: 1.5rem 0;
}

.contact-us {
    background-color: white;
    color: black;
    font-size:  1.5rem;
    padding: 10px 20px;
    position: fixed;
    border-radius: 15%;
   bottom: 3rem;
   right: 11rem;
    box-shadow: 10px 5px 5px black;
    transition: opacity 0.15s;
}

.contact-us > i {
    color: green;
}

.contact-us:hover {
    opacity: 0.6;
}

.contact-us:active {
    background-color: green;
    color: white;
}


.fa-facebook {
    color: blue;
}

.fa-instagram,
.fa-envelope  {
    color: red;
}
