/* RESET CSS  */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
     font-family: Arial, Helvetica, sans-serif;;
    padding-left: 30px;
}
/* HEADER SECTION  */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}

.ham-div {
    display: none;
    font-size: 2rem;;
}

nav > a {
    padding: 0 1rem;
    color: rgb(51, 51, 51);
}

nav > a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}

nav > a:active {
    color: rgb(1, 125, 61);;;
}

.clients-btn {
    padding:10px 15px;
    border: 1px solid rgb(1, 125, 61);
    background-color: white;
    font-size: 1rem;
    color:  rgb(51, 51, 51);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.clients-btn:hover {
    background-color:  rgb(1, 125, 61);;
    color: white;
}

.clients-btn:active {
    opacity: 0.7;
}

.hero-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.hero-div {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}
.hero-img {
    width: 800.8px;
    border-radius: 10%;
}

.com {
    background-color: rgb(240, 247, 238);
    width: 190.5px;
    text-align: center;
    padding: 5px;
    height: 25px;
    border-radius: 10px;
}

.hero-div > div > h1 {
    margin: 2rem 0;
    font-size: 5rem;
    font-weight: 500;
    line-height: 76px;
}

.hero-p {
    width: 500px;
    line-height: 27px;
    color: rgb(119, 119, 119);
    margin-bottom: 2.5rem;
}



.sold-properties {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

}

.sold-properties > div > h1 {
    margin: 2rem 0;
    text-align: center;
    color: green;
    font-size: 2rem;
}

.start-btn {
    background-color: rgb(8, 201, 8);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
}

.start-btn:hover {
    background-color: white;
    color:  rgb(8, 201, 8);
    border: 1px solid rgb(8, 201, 8);;
} 

.start-btn:active {
    background-color: green;
    color: white;
}

.object-div1 {
    display: flex;
    margin-top: 5rem;
    /* margin-left: 10rem; */
    justify-content: space-evenly;
    align-items: center;
}

.object-div1 > div>div >h1 {
    font-size: 2.5rem;
    font-weight: 500;
   
}

.object-div2 {
    margin: 2rem 0;
}

.agent {
    width:  517.537px;
}

.agent1 , .agent2 {
    /* margin-bottom: 2rem; */
    background-color:  rgb(240, 247, 238);
    color:  rgb(33, 37, 41);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5%;
    
}

.agent2, .agent4 {
   margin-left: 4rem;
   
}

.agent3 , .agent4 {
    background-color:  rgb(240, 247, 238);
    color:  rgb(33, 37, 41);
    display: inline-block;
    margin-top: 3rem;
    padding: 5px 10px;
    border-radius: 5%;
}

.happy-client > img {
    border-radius: 5%;
}
/* EASY SECTION  */

.easy-section {
    background-color: rgb(240, 247, 238);
    width: 1092.6px;
    height: 594.20px;
    border-radius: 24px;
    margin-left: 12rem;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.easy-div > p {
    width:  992.6px;
    font-size: 30px;
    font-weight: 500;
}
/* PROPERTY-SELECTION  */

.choose {
    display: flex;
    align-items: center;
    width:  446.663px;
}

.choose-div {
    display: flex;
    margin-right: 10px;
    align-items: center;
    width:  446.663px;
    margin-bottom: 10px;
}

.choose-div  > h4 {
    font-size: 22px;
    font-weight: 500;
}

.property-div {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.property-div2 {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.property-selection > p {
    width:  446.663px;
    line-height: 24px;
}

span {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER SECTION  */

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    /* align-items: center; */
}

.foot-div1 , .foot-div2 , .foot-div3 {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 3rem; */
}

.foot-div1  > h3,.foot-div2 > h3 , .foot-div3   > h3 {
    margin-bottom: 2rem;
}

.foot-div1 > p {
    width:  283.9px;
    font-size: 1rem;
    line-height: 24px;
    color: rgb(33, 37, 41);
}

.foot-div2 > a ,  .foot-div3 > a{
    margin-bottom: 15px;
    color: rgb(51, 51, 51);
}


.side-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    background-color: white;
}

.side-bar > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    position: relative;
    top: 50%;
}

.side-bar > div > i {
    padding: 10px 0;
    font-size: 1.2rem;
    cursor: pointer;
    /* color: grey; */
}

.contact-us {
    background-color: white;
    color: black;
    font-size:  1.5rem;
    padding: 10px 20px;
    position: fixed;
    border-radius: 15%;
   bottom: 3rem;
   right: 11rem;
    box-shadow: 10px 5px 5px black;
    transition: opacity 0.15s;
}

.contact-us > i {
    color: green;
}

.contact-us:hover {
    opacity: 0.6;
}

.contact-us:active {
    background-color: green;
    color: white;
}